<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/confetti_cuisine.css">
    <% include ./partials/head %>
  </head>
  

    <!----
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> </p>
    <h3><%= new Date(); %> </h3>
    -->
  <body class="container">
    <link rel="stylesheet" href="/css/confetti_cuisine.css">
    <header>
        <% include ./partials/navigation %>
    </header>
    
    <main>
        <%- body -%>
      
        <link rel="stylesheet" href="/css/confetti_cuisine.css">
    </main>
    




    <footer>
        <% include ./partials/footer %>
    </footer>
    
  </body>


  
</html>
